body {
	text-align: center;
}
.main {
	font-family: arial;
	font-size: 4em;
	color: #fff;
}
.main h1 {

	color: #fff;

}
#hexcode {
	display: none; 
}
button {
	background-color: transparent;
	color: #fff;
	padding: 0.5em;
	border: 1px solid #fff;
	border-radius: 0.2em;
	cursor: pointer;
}
